.flex{
    display: flex;
}
.leftp img{
    width: 10%;
    height: 100%;
}
nav{
    padding: 0 30px;
}
.parent{
    margin: auto;
   
}
nav ul li{
    list-style: none;
    padding: 0 10px;
}
.itemsc{
    align-items: center;
}
.justifyc{
    justify-content: center;
}
.uppr{
    text-transform: uppercase;
}
.bold{
    font-weight: bolder;
}
.spaceb{
    justify-content: space-between;
}
.margin{
    margin-left: 20px;
    margin-right: 20px;
}
.heading{
text-align: center;
font-size: 60px;
margin-top: 40px;
font-family:inherit;
}
#free{
text-align: center;
color:crimson;
}
#parent1{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#fsearch{
    height: 30px;
    width: 100%;
    margin-right: 20px;
}
.parent2{
    width: 90%;
    border: 0px; 
    height: auto;
    margin: auto;
}
#signup123456{
 cursor: pointer;   
}
#img123456{
    width: 100%;
}
.p22>img{
    width: 100%;
}
.parent3{
    margin-top: 30px;
    background-color: rgb(228, 225, 225);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.p4{
    margin-top: 40px;
  
    
}
#div1{
    text-align: center;
    margin-left: 100px;
}
#div2{
    text-align: center;
    margin-right: 100px;
   
}
.div3{
   
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    text-align: center;

}

.buttn{
    margin-top: 30px;
    background-color: black;
    color: white;
    height: 40px;
    width: 20%;
}
#cdiv1>img{
    height:890px;
    width: 100%;
}
#line{
    margin-top: 30px;
    margin-bottom: 40px;
}
.line1{
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.div5{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    
}
.div5 img{
    width: 100%;
  
}
.text{
    text-align: center;
}

.button{
    margin-top: 30px;
    background-color: black;
    color: white;
    height: 40px;
    width: 10%;
}
.div5 h3{
    text-align: center;
}
.mid{
    text-align: center;
}
.total{
    display: grid;
    grid-template-columns: repeat(4,1fr);
 gap: 10px;

}
#input1{
    width: 100%;
    padding-left: 10px;
    height: 30px;
}
#input2{
    text-align: center;
    height: 35px;
    background-color: rgb(223, 213, 213);
    border: 0;
    width: 30%;
   
}
.total5{
    margin-right: -600px;
}
.linked img{
    width: 30%;
   
}
.linked4 img{
    width: 100%;
}
#too{
    margin-left: 800px;
}
#too img{
    width: 100%;
}
.to{
    margin-top: -20px;
}
#imgg{
    text-align: center;
 
}
#imgg img{
    width: 10%;
}


