#links{
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    box-shadow: 2px 2px 5px 5px rgb(235,235,235);
}
#links>div{
    display: flex;
    list-style:none;
}
#links a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}
#parent{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;

}
#parent img{
    height: 500px;
    margin-top:30px ;
}
#heading{
    text-align: center;
    margin-top: 100px;
    color: blue;
}
#form{
    width: 400px;
    

}
input, select{
    display: block;
    margin-top: 40px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
}
#submit{
    width: 30%;
    margin-left: 180px;
   
}


