.heading{
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    font-family:inherit;
    }
    #links{
        display: flex;
        justify-content: space-evenly;
        padding: 1%;
        font-size: 30px;
        
    }
    #links a{
        text-decoration: none;
        color:black;
        font-size: 30px;
    }
    .parent2{
        width: 90%;
        border: 0px; 
        height: auto;
        margin: auto;
    }
    .parent3{
        display: flex;
        margin-top: 40px;
        
    }
    .line1{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .f{
display: flex;
justify-content: space-between;
    }
    #form{
        width: 400px;
        margin-right: 150px;
    
    }
    input, select{
        display: block;
        margin-top: 10px;
        height: 30px;
        width: 130%;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    label{
        font-size: 20px;
       
    }
    .total{
        display: grid;
        grid-template-columns: repeat(2,1fr);
     gap: 50px;
    
    }
    #input1{
        width: 60%;
        padding-left: 10px;
        height: 30px;
    }
    #input2{
        text-align: center;
        height: 35px;
        background-color: rgb(223, 213, 213);
        border: 0;
       
    }
    .total1{
        margin-top: 50px;
    }
    .b1{
        height: 40px;
        width: 30%;
        margin-bottom: 40px;
        border: 0px;
    }
    .b2{
        background-color: black;
        color: white;
        height:40px ;
        width: 40%;
        margin-bottom: 40px;
        font-size: 20px;
    }
    #h3{
        text-align: center;
    }
    .bot1{
    height: 300px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    background-color: white;
    margin-bottom: 30px;
    
    }
    .bot2{
        font-size: 15px;
    line-height: 30px;
    background-color: white;
    margin-bottom: 30px;
    
    }
    .hh{
        margin-top: -10px;
        margin-right: 150px;
    }
    