.flex{
    display: flex;
}
.leftp img{
    width: 10%;
    height: 100%;
}
nav{
    padding: 0 30px;
}
.parent{
    margin: auto;
   
}
nav ul li{
    list-style: none;
    padding: 0 10px;
}
#login123456{
    cursor: pointer;
}
.itemsc{
    align-items: center;
}
.justifyc{
    justify-content: center;
}
.uppr{
    text-transform: uppercase;
}
.bold{
    font-weight: bolder;
}
.spaceb{
    justify-content: space-between;
}
.margin{
    margin-left: 20px;
    margin-right: 20px;
}
.heading{
text-align: center;
font-size: 60px;
margin-top: 40px;
font-family:inherit;
}
#free{
text-align: center;
color:crimson;
}
#fsearch{
    height: 30px;
    width: 100%;
    margin-right: 20px;
}
.sign{
    margin-top: 80px;
}
#form{
    width: 400px;
    

}
input, select{
    display: block;
    margin-top: 20px;
    height: 30px;
    width: 130%;
    padding-left: 10px;
}
#formp{
    display: flex;
    justify-content: space-between;
    margin: 0 90px;
   
}
#uls{
    line-height: 40px;
    font-size: 20px;
}
#submit{
    width: 40%;
}
.parent2{
    width: 90%;
    border: 0px; 
    height: auto;
    margin: auto;
}
.mid{
    text-align: center;
}
.total{
    display: grid;
    grid-template-columns: repeat(4,1fr);
 gap: 10px;

}
#input1{
    width: 100%;
    padding-left: 10px;
    height: 30px;
}
#input2{
    text-align: center;
    height: 35px;
    background-color: rgb(223, 213, 213);
    border: 0;
    width: 30%;
   
}
.total5{
    margin-right: -600px;
}
.linked img{
    width: 30%;
   
}
.linked4 img{
    width: 100%;
}
#too{
    margin-left: 800px;
}
#too img{
    width: 100%;
}
.to{
    margin-top: -20px;
}
#imgg{
    text-align: center;
 
}
#imgg img{
    width: 10%;
}
.line1{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 30px;
}




